$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@import 'https://fonts.googleapis.com/css?family=Karla';

$font-regular : 'Karla';


*{
  margin: 0;
  padding: 0;

  //width: 100%;
  //height: 100%;

}


.header-text h2,h3,h4,h5{
  font-family: $font-regular !important;
  font-weight: 200;
  line-height: 2;

}

.header-text h1{
  font-family: $font-regular !important;
  font-weight: 400;
  font-size: 48pt;
}


/* Header Styling */
#header-inner{
  height: 100vh;
  background-image: url("/images/image1.jpg");
  background-repeat: no-repeat;
  -moz-background-size: cover;
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  z-index: 0;
}

.header-text ul,li,a{
  font-family: $font-regular !important;
  font-weight: 200;
  text-transform: uppercase;
  color: white;
}

.header-text ul,li,a:hover{
  text-decoration: none;
  color: white;
}
.navbar-header a{
  color: #103B58;
}

#overlay{
  position:absolute;
  top:0px;
  left:0px;
  bottom:0px;
  right:0px;
  background-color: rgba(30, 118, 187, 0.5);
  //bottom:0;
  //left: 0;
  //opacity: 0.5;
  //position: absolute;
  //right:0;
  //top:0;
  z-index: 1;
}

.intro-content{
  color: white;
  z-index: 2;
  margin-top: 15%;
}

.cbtn{
  display: inline-block;
  width: 45%;
  height: 60px;
  border: solid 2px white;
  line-height: 60px;
  vertical-align: middle;

}

.fixing {
  position: fixed !important;
  top: 0;
  height: 50px;
  z-index: 1;
}


#nav-styling {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: white;
  z-index: 2;
  -webkit-box-shadow: 0 2px 1px -1px black;
  -moz-box-shadow: 0 2px 1px -1px black;
  box-shadow: 0 2px 1px -1px black;
}

.downarrow{
  bottom: 70px;
  left: 50%;
  position: absolute;
  z-index: 2;
}

/*footer*/
footer ul li a{
  color: #103B58;

}

footer ul li h5 {
  font-size: 18pt;
}

footer ul li h6{
  font-size: 14pt;
}
footer ul li a :hover{
  color: #103B58;
}

.navbar-brand{
  color:#103B58;
  font-size: 30pt;
}

/* Main Content */
#main-content h3{
  color:#103B58;
  font-size: 30pt;
}

/* Media Queries */
@media(max-width:767px){

  .intro-content{

    height: 100vh;
  }


}
