$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower



*{
  margin: 0;
  padding: 0;
  //width: 100%;
  //height: 100%;

}

/* Header Styling */
#header-inner{
  height: 100vh;
  background-image: url("/images/image1.jpg");
  background-size: 100%;
  z-index: 0;
}

#overlay{
  position:absolute;
  top:0px;
  left:0px;
  bottom:0px;
  right:0px;
  background-color: rgba(30, 118, 187, 0.5);
  //bottom:0;
  //left: 0;
  //opacity: 0.5;
  //position: absolute;
  //right:0;
  //top:0;
  z-index: 1;
}

#intro-content{
  color: white;
  z-index: 2;
}

.fixing {
  position: fixed !important;
  top: 0;
  height: 50px;
  z-index: 1;
}


#nav-styling {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: white;
  z-index: 2;
}

.downarrow{
  bottom: 50px;
  left: 50%;
  position: absolute;
  z-index: 2;
}


/* Main Content */
